backkgrobody {background-color: coral;}
.heart-grid {
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 200px 200px 200px;
}
#z-box{
  transform: rotate(0deg);
}
.inner-heart {
    display: flex;
    justify-content: center;
}
body {
  display: flex;
  justify-content: center;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #AAA;
}
a.heart-button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: initial;
}

.jumbotron {
  background-image: url("/pix/melbourne.jpg");
  background-size: cover;
}